const newLocal=this.beforeUpdate=null;
const newLocal=this.beforeUpdate=this.updateUser;
<template>
    <b-modal id="modal-scoped" :hide-backdrop="true" content-class="shadow" :no-close-on-backdrop="true">
        <template #modal-title>
            Créer un événement
        </template>
        <template #default>
            <div>
                <label for="feedback-event">Nom</label>
                <b-form-input
                    :state="validation"
                    id="feedback-event"
                ></b-form-input>
                <b-form-invalid-feedback :state="validation">
                    Le nom de l'événement doit faire entre 4 et 60 caractères.
                </b-form-invalid-feedback>
                <b-form-valid-feedback :state="validation">
                    Parfait !
                </b-form-valid-feedback>
            </div>
            <div>
                <label for="feedback-society">Lieu</label>
                <b-form-input
                    v-model="user.Lieu"
                    :state="validationSociety"
                    id="feedback-society"
                ></b-form-input>
                <b-form-invalid-feedback :state="validationSociety">
                    Le nom du lieu doit faire entre 4 et 100 caractères.
                </b-form-invalid-feedback>
                <b-form-valid-feedback :state="validationSociety">
                    Bien joué !
                </b-form-valid-feedback>
            </div>
            <div>
                <date-picker v-model="value1" lang="en" :not-before="new Date()"></date-picker>
            </div>
            <div>
                <label for="input-with-list">Type d'événement</label>
                <b-form-input
                    list="input-list"
                    id="input-with-list"
                    v-model="test"
                ></b-form-input>
                <b-form-datalist
                    id="input-list"
                    :options="optionsChoices"
                ></b-form-datalist>
            </div>
        </template>
        <template #modal-footer="{ ok, cancel }">
            
                <b-button size="sm" variant="danger" @click="cancel()">
                    Annuler
                </b-button>
                <b-button
                    type="submit"
                    size="sm"
                    variant="success"
                    @click="[ok(), modifUpdate($sweetNotif)]"
                >
                    Valider
                </b-button>
            
            
        </template>
    </b-modal>
</template>
<script>
import DatePicker from 'vue2-datepicker'
export default {
    name: "Modale",
    components: {
        DatePicker
    },
    props: {
        updateUser: {
            type: Object
            }
        
    },
    data: () => ({
        userNom: "",
        userSociete: "",
        beforeUpdate: null,
        optionsChoices: ["Type 1", "Type 2"],
        value1: new Date()
    }),
    
    computed: {
        validation() {
            return this.user.Nom.length > 4 && this.user.Nom.length < 60;
        },
        validationSociety() {
            return (
                this.user.Lieu.length > 4 && this.user.Lieu.length < 100
            );
        },
        test() {
            if (this.user.type) {
                return this.optionsChoices[0];
            }
            return this.optionsChoices[0];
        },
        
         user() {
            if (this.updateUser) {
                return this.updateUser
                
            }

            return {
                ID: null,
                Photo: "",
                Nom: "",
                Lieu: "",
                Statut: "",
                type: false,
                Credits: "",
                Temps: ""
            }
        }
    },
   
    
    methods: {
        sendUpdatedUser(){
            //api.put()
        },
        importActivite() {
            this.test = this.user.type;
        },
        modifUpdate() {
            this.updateUser()
            this.$sweetNotif("Modifications enregistrées !");
        }
    }
};
</script>
