<template>
  <div>
    <h2>Mes événements</h2>
    <b-card title="Basic" class="main-card mb-4">
      <b-row>
        <b-col md="6" class="my-1">
          <b-form-group horizontal label="Filtrer" class="mb-0">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="Rechercher" />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''"
                  >Réinitialiser</b-btn
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col md="6" class="my-1">
          <b-form-group horizontal label="Tri" class="mb-0">
            <b-input-group>
              <b-form-select v-model="sortBy" :options="sortOptions">
                <option slot="first" :value="null">
                  -- Type d'événement --
                </option>
              </b-form-select>
              <b-form-select
                :disabled="!sortBy"
                v-model="sortDesc"
                slot="append"
              >
                <option :value="false">Croissant</option>
                <option :value="true">Décroissant</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col md="6" class="my-1">
          <b-form-group horizontal label="Sens de tri" class="mb-0">
            <b-input-group>
              <b-form-select v-model="sortDirection" slot="append">
                <option value="asc">Croissant</option>
                <option value="desc">Décroissant</option>
                <option value="last">Le plus récent</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col md="6" class="my-1">
          <b-form-group horizontal label="Résultats par page" class="mb-0">
            <b-form-select :options="pageOptions" v-model="perPage" />
          </b-form-group>
        </b-col>
      </b-row>

      <!-- Main table element -->
      <b-table
        show-empty
        stacked="md"
        :items="items"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :sort-direction="sortDirection"
        @filtered="onfiltered"
      >
        <template slot="nom" slot-scope="row"
          >{{ row.value.first }} {{ row.value.last }}</template
        >
        <template slot="isActive" slot-scope="row">{{
          row.value ? "Yes :)" : "No :("
        }}</template>
        <template slot="actions" slot-scope="row">
          <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
          <b-button size="sm" @click.stop="row.toggleDetails">
            {{ row.detailsShowing ? "Hide" : "Show" }} Details
          </b-button>
        </template>
        <template slot="row-details" slot-scope="row">
          <b-card class="no-shadow">
            <ul class="list-group">
              <li
                class="list-group-item"
                v-for="(value, key) in row.item"
                :key="key"
              >
                {{ key }}: {{ value }}
              </li>
            </ul>
          </b-card>
        </template>
      </b-table>

      <b-row>
        <b-col md="6" class="my-1">
          <b-pagination
            :total-rows="totalRows"
            :per-page="perPage"
            v-model="currentPage"
            class="my-0"
          />
        </b-col>
      </b-row>
      <b-button
        class="mt-5 btn-pill"
        variant="primary"
        @click="newEvent(addEvent)"
        >Créer un événement</b-button
      >
    </b-card>
    <Modal />
  </div>
</template>
<script>
const items = [
  { isActive: true, age: 40, nom: { first: "Dickerson", last: "Macdonald" } },
  { isActive: false, age: 21, nom: { first: "Larsen", last: "Shaw" } },
  {
    isActive: false,
    age: 9,
    nom: { first: "Mini", last: "Navarro" },
    _rowVariant: "success",
  },
  { isActive: false, age: 89, nom: { first: "Geneva", last: "Wilson" } },
  { isActive: true, age: 38, nom: { first: "Jami", last: "Carney" } },
  { isActive: false, age: 27, nom: { first: "Essie", last: "Dunlap" } },
  { isActive: true, age: 40, nom: { first: "Thor", last: "Macdonald" } },
  {
    isActive: true,
    age: 87,
    nom: { first: "Larsen", last: "Shaw" },
    _cellVariants: { age: "danger", isActive: "warning" },
  },
  { isActive: false, age: 26, nom: { first: "Mitzi", last: "Navarro" } },
  { isActive: false, age: 22, nom: { first: "Genevieve", last: "Wilson" } },
  { isActive: true, age: 38, nom: { first: "John", last: "Carney" } },
  { isActive: false, age: 29, nom: { first: "Dick", last: "Dunlap" } },
];
import Modal from "./modalForm.vue";
export default {
  components: {
    Modal,
  },
  data: () => ({
    createEvents: null,
    heading: "Dynamic Tables",
    subheading:
      "Basic example of a Vue table with sort, search and filter functionality.",
    icon: "pe-7s-notebook icon-gradient bg-mixed-hopes",

    items: items,
    fields: [
      { key: "Nom", sortable: true, sortDirection: "desc" },
      { key: "Lieu", sortable: true, class: "text-center" },
      { key: "Date", label: "Date", sortable: true },
    ],
    currentPage: 1,
    perPage: 5,
    totalRows: items.length,
    pageOptions: [5, 10, 15],
    sortBy: null,
    sortDesc: false,
    sortDirection: "asc",
    filter: null,
    modalInfo: { title: "", content: "" },
  }),

  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key };
        });
    },
  },
  methods: {
    info(item, index, button) {
      this.modalInfo.title = `Row index: ${index}`;
      this.modalInfo.content = JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", "modalInfo", button);
    },
    resetModal() {
      this.modalInfo.title = "";
      this.modalInfo.content = "";
    },
    onfiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    newEvent(addEvent) {
      this.createEvents = addEvent;
      this.$bvModal.show("modal-scoped");
    },
  }
 
};
</script>