<template>
  <v-breadcrumbs :items="items">
        <template v-slot:divider>
            <v-icon>forward</v-icon>
        </template>
    </v-breadcrumbs>
  <!-- <b-container>
    <b-breadcrumb>
      <b-breadcrumb-item href="#Home">Espace membre</b-breadcrumb-item>
      <b-breadcrumb-item href="#myProfil">Votre profil</b-breadcrumb-item>
      <b-breadcrumb-item></b-breadcrumb-item>
      <b-breadcrumb-item></b-breadcrumb-item>
      <b-breadcrumb-item></b-breadcrumb-item>
      <b-breadcrumb-item></b-breadcrumb-item>
      <b-breadcrumb-item></b-breadcrumb-item>
    </b-breadcrumb>
    <b-breadcrumb :items="breadcrumb_items"></b-breadcrumb>
  </b-container> -->
</template>
<script>
export default {
  name: "breadcrumb",
  data: () => ({
    items: [
            {
                text: "Espace membre",
                disabled: false,
                href: "@/apps/tableauDeBord/index.vue"
            },
            {
                text: "Vous êtes ici",
                disabled: false,
                href: "#"
            }
        ]
    /* breadcrumb_items: [
      {
        text: "Home",
        href: "/",
      },
      {
        text: "Votre profil",
        href: "/my-profil",
      },
    ], */
  }),
};
</script>
