<template>
  <div class="main-card mb-3 card">
    <div class="card-body">
      <h5 class="card-title">Options de confidentialité</h5>
      <div class="position-relative form-group">
        <div>
          <div class="custom-checkbox custom-control">
            <input
              type="checkbox"
              id="exampleCustomCheckbox"
              class="custom-control-input"
            /><label class="custom-control-label" for="exampleCustomCheckbox"
              >Ne pas afficher mon profil dans la liste des membres</label
            >
          </div>
          <div class="custom-checkbox custom-control">
            <input
              type="checkbox"
              id="exampleCustomCheckbox2"
              class="custom-control-input"
            /><label class="custom-control-label" for="exampleCustomCheckbox2"
              >Masquer mon numéro de mobile sur la page des membres</label
            >
          </div>
          <div class="custom-checkbox custom-control">
            <input
              type="checkbox"
              id="exampleCustomCheckbox3"
              class="custom-control-input"
            /><label class="custom-control-label" for="exampleCustomCheckbox3"
              >Masquer mon adresse mail sur la page des membres</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>