<template>
  <div id="memberPlace">
    <b-container fluid class="m-0">
        <b-row >
            <b-col cols="12" class="ml-auto p-3">
                <activites />
            </b-col>
        </b-row>
    </b-container>
  </div>
</template>

<script>
import activites from "@/apps/profil/components/activites/components/activites"
export default {
    name: "coordonnees",
  components: {
      activites
  },
};
</script>