<template>
  <div>
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title">Mes activités et compétences</h5>
        <form class="">
          <div class="form-row">
            <div class="position-relative form-group col-md-3">
              <label for="activitySelect" class="">Métiers</label
              ><select
                multiple=""
                name="select"
                id="activitySelect"
                class="form-control"
              >
                <option v-for="choice in choices" :key="choice.id">
                  {{ choice.Name }}
                </option>
              </select>
            </div>
            <div class="position-relative form-group col-md-5">
              <label for="tags-pills3">Compétences</label>
              <b-form-tags
                input-id="tags-pills3"
                v-model="value"
                tag-variant="primary"
                tag-pills
                size="sm"
                separator=" "
                placeholder="Enter new tags separated by space"
              ></b-form-tags>
            </div>
          </div>
        </form>
        <div class="form-row">
          <div class="position-relative form-group col-md-6">
            <label for="activityTitle" class="">Titre de mon activité</label
            ><input
              name="activity"
              id="activityTitle"
              placeholder="Activité"
              type="text"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-row">
          <b-col md="6">
            <label for="biography" class="mb-3">Biographie</label>
            <textarea-autosize
              class="form-control"
              placeholder="Ecrivez votre biographie"
              ref="someName"
              :min-height="30"
              :max-height="200"
            ></textarea-autosize>
          </b-col>
        </div>
        <div class="mt-4">
          <b-button class="mr-2 mb-2 btn-pill" variant="primary">
            Enregistrer
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import VueTextareaAutosize from "vue-textarea-autosize";

Vue.use(VueTextareaAutosize);
export default {
  data() {
    return {
      choices: [
        {
          ID: 1,
          Name: "Développeur web",
        },
        {
          ID: 1,
          Name: "Traducteur",
        },
        {
          ID: 1,
          Name: "Architecte",
        },
        {
          ID: 1,
          Name: "Achat",
        },
        {
          ID: 1,
          Name: "Administratif",
        },
        {
          ID: 1,
          Name: "Commercial | Ventes",
        },
        {
          ID: 1,
          Name: "Communication | Documentation",
        },
        {
          ID: 1,
          Name: "Direction générale",
        },
      ],
      value: ["apple", "orange", "grape"],
    };
  },
};
</script>