<template>
  <div>
    <h1>{{ title }}</h1>
    <b-container fluid class="m-0">
      <b-row>
        <b-col cols="12" class="ml-auto p-3">
          <shortProfil />
          <coordonnees />
          <activites />
          <formations />
          <reseauxSociaux />
          <confidentialite />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import shortProfil from "../profil/components/shortProfil.vue";
import coordonnees from "../profil/components/coordonnees/index.vue";
import activites from "../profil/components/activites/index.vue";
import formations from "../profil/components/formations/index.vue";
import reseauxSociaux from "../profil/components/reseaux/index.vue";
import confidentialite from "../profil/components/confidentialite/index.vue"
export default {
  components: {
    shortProfil,
    coordonnees,
    activites,
    formations,
    reseauxSociaux,
    confidentialite
  },
  data() {
    return {
      title: "Mon profil"
    }
  }
};
</script>