<template>
  <div>
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title">Partage de connaissances</h5>
        <form class="">
          <div class="position-relative row form-group col-md-5">
            <label for="tags-pills"
              >Les formations/ateliers que j’ai envie de partager/transmettre
              aux membres de la Colloc</label
            >
            <b-form-tags
              input-id="tags-pills"
              v-model="value1"
              tag-variant="primary"
              tag-pills
              size="sm"
              separator=" "
              placeholder="Enter new tags separated by space"
            ></b-form-tags>
          </div>
          <div class="position-relative row form-group col-md-5">
            <label for="tags-pills2"
              >Les formations/ateliers que j’ai envie de recevoir/apprendre
              grâce aux membres de la Colloc</label
            >
            <b-form-tags
              input-id="tags-pills2"
              v-model="value2"
              tag-variant="primary"
              tag-pills
              size="sm"
              separator=" "
              placeholder="Enter new tags separated by space"
            ></b-form-tags>
          </div>

          <div class="position-relative row form-group col-md-5">
            <label for="exampleText">Autres envies</label
            >
            
              <textarea-autosize
                name="text"
                id="exampleText"
                class="form-control"
              ></textarea-autosize>
            
          </div>

          <div class="position-relative row form-check">
            <div class="mt-4">
              <b-button class="mr-2 mb-2 btn-pill" variant="primary">Enregistrer</b-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      value1: ["apple", "orange", "grape"],
      value2: ["chicken", "turkey", "frog"],
    };
  },
};
</script>