<template>
    <div>
        <credits />
        <creditsReload />
        <balance />
    </div>
</template>
<script>
import credits from "./components/accountStatement.vue"
import creditsReload from "./components/accountReloading.vue"
import balance from "./components/balanceCredits.vue"
export default {
    components: {
        credits,
        creditsReload,
        balance
    }
}
</script>