<template>
  <div id="memberPlace">
    <b-container fluid class="m-0">
        <b-row >
            <b-col cols="12" class="ml-auto p-3">
                <courses />
            </b-col>
        </b-row>
    </b-container>
  </div>
</template>

<script>
import courses from "@/apps/profil/components/formations/components/mesFormations"
export default {
    name: "formations",
  components: {
      courses
  },
};
</script>