<template>
    <div>
        <myReservations />
    </div>
</template>
<script>
import myReservations from "./components/myReservations.vue"
export default {
    components: {
        myReservations
    },
}
</script>