<template>
  <div id="memberPlace">
    <b-container fluid class="m-0">
        <b-row >
            <b-col cols="12" class="ml-auto p-3">
                <socialNetworks />
            </b-col>
        </b-row>
    </b-container>
  </div>
</template>

<script>
import socialNetworks from "@/apps/profil/components/reseaux/components/reseauxSociaux"
export default {
    name: "reseauxSociaux",
  components: {
      socialNetworks
  },
};
</script>