<template>
  <div id="memberPlace">
    <b-container fluid class="m-0">
        <b-row >
            <b-col cols="12" class="ml-auto p-3">
                <confidentialite />
            </b-col>
        </b-row>
    </b-container>
  </div>
</template>

<script>
import confidentialite from "@/apps/profil/components/confidentialite/components/confidentialite"
export default {
    name: "options",
  components: {
      confidentialite
  },
};
</script>