<template>
    <div
        :class="sidebarbg"
        class="app-sidebar sidebar-shadow"
        @mouseover="toggleSidebarHover('add', 'closed-sidebar-open')"
        @mouseleave="toggleSidebarHover('remove', 'closed-sidebar-open')"
    >
        <div class="app-header__logo">
            <div>
                <img src="../../assets/images/lcl-logo-footer-test.png" alt="Logo de la société">
            </div>
            <div class="header__pane ml-auto">
                <button
                    type="button"
                    class="hamburger close-sidebar-btn hamburger--elastic"
                    v-bind:class="{ 'is-active': isOpen }"
                    @click="toggleBodyClass('closed-sidebar')"
                >
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
        
        <div class="app-sidebar-content d-block">
            <VuePerfectScrollbar class="app-sidebar-scroll" v-once>
                <sidebar-menu showOneChild :menu="menu" />
            </VuePerfectScrollbar>
        </div>
    </div>
</template>

<script>
import { SidebarMenu } from "vue-sidebar-menu";
import VuePerfectScrollbar from "vue-perfect-scrollbar";

export default {
    components: {
        SidebarMenu,
        VuePerfectScrollbar
    },
    data() {
        return {
            isOpen: false,
            sidebarActive: false,

            menu: [
                {
                    header: true,
                    title: "Menu"
                },
                {
                    title: "Profil",
                    icon: "pe-7s-rocket",
                    child: [
                        {
                            href: "/my-profil",
                            title: "Mon profil"
                        }
                    ]
                },
                {
                    title: "Facturation",
                    icon: "pe-7s-rocket",
                    child: [
                        {
                            href: "/",
                            title: "Mon abonnement"
                        },
                        {
                            href: "/facturation",
                            title: "Ma facturation"
                        }
                    ]
                },
                {
                    title: "Crédit de connexion",
                    icon: "pe-7s-rocket",
                    child: [
                        {
                            href: "/my-credits",
                            title: "Mes crédits"
                        }
                    ]
                },
                {
                    title: "Evenements",
                    icon: "pe-7s-rocket",
                    child: [
                        {
                            href: "/my-events",
                            title: "Mes événements"
                        },
                        {
                            href: "https://event.la-colloc.co/",
                            title: "Participer à un événements"
                        }
                    ]
                },
                {
                    title: "Réservation de salles",
                    icon: "pe-7s-rocket",
                    child: [
                        {
                            href: "/reservations",
                            title: "Gérer mes réservations"
                        }
                    ]
                },
                {
                    title: "Espace coworking",
                    icon: "pe-7s-rocket",
                    child: [
                        {
                            href: "/",
                            title: "Gérer mes espaces"
                        }
                    ]
                },
                {
                    title: "Petites annonces",
                    icon: "pe-7s-rocket",
                    child: [
                        {
                            href: "/",
                            title: "Liste des annonces"
                        },
                        {
                            href: "/",
                            title: "Mes annonces"
                        }
                    ]
                }
            ],
            collapsed: true,

            windowWidth: 0
        };
    },
    props: {
        sidebarbg: String
    },
    methods: {
        toggleBodyClass(className) {
            const el = document.body;
            this.isOpen = !this.isOpen;

            if (this.isOpen) {
                el.classList.add(className);
            } else {
                el.classList.remove(className);
            }
        },
        toggleSidebarHover(add, className) {
            const el = document.body;
            this.sidebarActive = !this.sidebarActive;

            this.windowWidth = document.documentElement.clientWidth;

            if (this.windowWidth > "992") {
                if (add === "add") {
                    el.classList.add(className);
                } else {
                    el.classList.remove(className);
                }
            }
        },
        getWindowWidth() {
            const el = document.body;

            this.windowWidth = document.documentElement.clientWidth;

            if (this.windowWidth < "1350") {
                el.classList.add("closed-sidebar", "closed-sidebar-md");
            } else {
                el.classList.remove("closed-sidebar", "closed-sidebar-md");
            }
        }
    },
    mounted() {
        this.$nextTick(function() {
            window.addEventListener("resize", this.getWindowWidth);

            //Init
            this.getWindowWidth();
        });
    },

    beforeDestroy() {
        window.removeEventListener("resize", this.getWindowWidth);
    }
};
</script>
