<template>
  <div id="memberPlace">
    <b-container fluid class="m-0">
        <b-row >
            <b-col cols="12" class="ml-auto p-3">
                <adress />
            </b-col>
        </b-row>
    </b-container>
  </div>
</template>

<script>
import adress from "@/apps/profil/components/coordonnees/components/adress/adress"
export default {
    name: "coordonnees",
  components: {
      adress
  },
};
</script>