<template>
  <div id="memberPlace">
    <b-container fluid class="m-0">
        <b-row >
            <b-col cols="12" class="ml-auto p-3">
                <mainBoard />
            </b-col>
        </b-row>
    </b-container>
  </div>
</template>

<script>
import mainBoard from "@/apps/tableauDeBord/components/mainBoard/mainBoard.vue"
export default {
  name: "tableau",
  components: {
      mainBoard,
  },
  data: () => ({
  }),
};
</script>