<template>
  <div>
    <h1 class="text-center">{{ title }}</h1>
    <div fluid class="mainContent m-5">
      <b-row align-h="center">
        <b-col align-self="center" class="col-sm-12 col-lg-12 col-xl-4">
          <div class="mb-3 profile-responsive card">
            <div class="dropdown-menu-header">
              <div class="dropdown-menu-header-inner bg-dark">
                <div class="menu-header-image opacity-1 dd-header-bg-4"></div>
                <div class="menu-header-content btn-pane-right">
                  <div
                    class="
                      avatar-icon-wrapper
                      mr-3
                      avatar-icon-xl
                      btn-hover-shine
                    "
                  >
                    <div class="avatar-icon rounded">
                      <img src="@/assets/images/avatars/1.jpg" alt="Avatar 5" />
                    </div>
                  </div>
                  <div>
                    <h5 class="menu-header-title">Laurent Sauzet</h5>
                    <h6 class="menu-header-subtitle">Développeur front-end</h6>
                  </div>
                  <div class="menu-header-btn-pane">
                    <button class="btn btn-success">Voir le profil</button>
                  </div>
                </div>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="widget-content pt-4 pb-4 pr-1 pl-1">
                  <div class="text-center">
                    <h5 class="mb-0">
                      <span class="pr-1">
                        <b class="text-success">1</b> réservation en cours
                      </span>
                    </h5>
                  </div>
                </div>
              </li>
              <li class="p-0 list-group-item">
                <div class="grid-menu grid-menu-2col overflow-hidden">
                  <div class="no-gutters row">
                    <div class="col-sm-6 align-items-center">
                      <div class="p-1">
                        <button
                          class="
                            btn-icon-vertical
                            btn-transition-text
                            btn-transition
                            btn-transition-alt
                            pt-2
                            pb-2
                            btn btn-outline-danger
                          "
                        >
                          <p>0</p>
                          Crédits CO
                        </button>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="p-1">
                        <button
                          class="
                            btn-icon-vertical
                            btn-transition-text
                            btn-transition
                            btn-transition-alt
                            pt-2
                            pb-2
                            btn btn-outline-danger
                          "
                        >
                          <p>0</p>
                          Heures à utiliser
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </b-col>
      </b-row>
      <b-row align-h="between">
        <b-col cols="4">
          <div class="mb-3 card text-white card-body bg-warning">
            <h5 class="text-white card-title">
              Liste des événements planifiés
            </h5>
            <p>Aucun événement planifié</p>
          </div>
        </b-col>
        <b-col cols="4">
          <div class="mb-3 card text-white card-body bg-warning">
            <h5 class="text-white card-title">Evénements à venir</h5>
            <p>Aucun événement à venir</p>
          </div>
        </b-col>
      </b-row>
      <b-row align-h="between">
        <b-col cols="3">
          <div class="mb-3 card text-white card-body bg-success">
            <h5 class="text-white card-title">Mes petites annonces</h5>
            <p>Pas d'annonces</p>
          </div>
        </b-col>
        <b-col cols="3">
          <div class="mb-3 card text-white card-body bg-success">
            <h5 class="text-white card-title">Message du jour de La Colloc</h5>
            <p>
              Bonjour et bienvenue dans votre espace invité, Pour pouvoir
              profiter des avantages de La Colloc, il ne vous reste plus qu'à
              valider votre espace membre. Pour cela, rendez-vous dans
              "Facturation - Mes données d'abonnement" afin de régler votre
              adhésion en ligne ou en passant nous voir directement à La Colloc,
              au 42 avenue de la Perriere, à Lorient. A bientot, L'équipe de La
              Colloc
            </p>
          </div>
        </b-col>
        <b-col cols="3">
          <div class="mb-3 card text-white card-body bg-success">
            <h5 class="text-white card-title">Sondage du jour</h5>
            <p>
              Qu'aimeriez-vous manger pour le prochain Déjeuner des Collocs ?
            </p>
            <b-form-group
              
              v-slot="{ ariaDescribedby }"
            >
              <b-form-checkbox-group
                id="checkbox-group-1"
                v-model="selected"
                :options="options"
                :aria-describedby="ariaDescribedby"
                name="flavour-1"
              ></b-form-checkbox-group>
              
            </b-form-group>
            <b-button type="submit" class="btn-sm mr-1 mb-1 btn-pill btn-hover-shine btn-transition" variant="primary">
                    Envoyer
                  </b-button>
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>

export default {
  name: "mainBoard",
  data() {
    return {
      title: "Mon tableau de bord",
      selected: [], // Must be an array reference!
        options: [
          { text: 'Français', value: 'Français' },
          { text: 'Chinois', value: 'Chinois' },
          { text: 'Thaï', value: 'Thaï' },
          { text: 'Italien', value: 'Italien' }
        ]
    };
  },
};
</script>