<template>
  <b-container fluid class="m-0">
    <b-row align-h="center">
      <b-col cols="12" class="justify-justify-content-center">
        <div fluid class="m-5">
          <b-row align-h="center">
            <b-col align-self="center">
              <div class="col-4 p-0 profile-responsive card">
                <div class="dropdown-menu-header">
                  <div class="dropdown-menu-header-inner text--black">
                    <div class="menu-header-content btn-pane-right">
                      <div
                        class="
                          avatar-icon-wrapper
                          mr-3
                          avatar-icon-xl
                          btn-hover-shine
                        "
                      >
                        <div class="avatar-icon rounded">
                          <img
                            src="@/assets/images/avatars/1.jpg"
                            alt="Avatar 5"
                          />
                        </div>
                      </div>
                      <div class="text-black-50" variant="dark">
                        <h5 class="menu-header-title">Laurent Sauzet</h5>
                        <h6 class="menu-header-subtitle">
                          Développeur front-end
                        </h6>
                      </div>
                      <div class="position-relative form-group">
                        <label for="exampleFile" class="">File</label
                        ><input
                          name="file"
                          id="exampleFile"
                          type="file"
                          class="form-control-file"
                          placeholder="Choisir une image"
                        />
                        <small class="form-text text-muted"
                          >This is some placeholder block-level help text for
                          the above input. It's a bit lighter and easily wraps
                          to a new line.</small
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </b-col>
          </b-row>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
export default {
  name: "shortProfil",
  data() {
    return {
      title: "Mon profil",
    };
  },
};
</script>