<template>
  <div>
    <div class="main-card mb-3 card">
      <b-container class="m-2" fluid>
        <h5>Mes réseaux sociaux</h5>
        <b-row>
          <b-col cols="3"
            ><a href="#"
              ><img
                class="col-sm-2"
                src="../../../../../assets/images/networks/facebook-square-brands.svg"
                alt=""
            /></a>
            <a href="#"
              ><img
                class="col-sm-2"
                src="../../../../../assets/images/networks/instagram-square-brands.svg"
                alt=""
            /></a>
            <a href="#"
              ><img
                class="col-sm-2"
                src="../../../../../assets/images/networks/linkedin-brands.svg"
                alt=""
            /></a>
            <a href="#"
              ><img
                class="col-sm-2"
                src="../../../../../assets/images/networks/twitter-brands.svg"
                alt="" /></a
          ></b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      networks: [
        {
          name: "Linkedin",
          id: 1,
          icon: "networks/linkedin-brands.svg",
        },
        {
          name: "Facebook",
          id: 2,
          icon: "networks/facebook-square-brands.svg",
        },
        {
          name: "Instagram",
          id: 1,
          icon: "networks/instagram-square-brands.svg",
        },
        {
          name: "Twitter",
          id: 1,
          icon: "networks/twitter-brands.svg",
        },
      ],
    };
  },
};
</script>