<template>
  <div class="card p-4 mb-4">
    <h2>Relevé de compte</h2>
    <p>
      Grâce aux crédits CO, partagez vos connaissances, participez à tous les
      événements de La Colloc ou louez. Vous pouvez gagner des crédits en
      proposant vous-même des événements ou bien en rechargeant votre compte.
      Les 10 crédits CO offerts à l'inscription membre sont valables 3 mois.
      S'ils ne sont pas consommés, ils seront supprimés du compte. Les crédits
      CO achetés sur le site sont valables 1 an à partir de la date d'achat.
    </p>
    <div class="row justify-content-center m-5">
      <div class="col-md-6">
        <div class="main-card mb-3 card">
          <div class="card-header">Crédit de CO</div>
          <div class="card-body">
            <p>
              Il vous reste <strong>0</strong> co.
            </p>
            <p class="mb-0">
              Votre compte ne contient aucune opération pour le moment
            </p>
          </div>
          <div class="d-block text-right card-footer">
            <button class="mr-2 btn btn-link btn-sm">Annuler</button>
            <button class="btn btn-success btn-lg">Rechargez vos co</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "releve",
};
</script>