<template>
  <div class="card p-4 mb-4">
    <h2>Formulaire de demande de rechargement de co</h2>
    <div class="main-card mb-3  m-5 card">
      <div class="card-body">
        <form class="">
          <div class="form-row">
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="prenom4" class="">Prénom</label
                ><input
                  name="prenom"
                  id="prenom4"
                  placeholder="Prenom"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="nom4" class="">Nom</label
                ><input
                  name="nom"
                  id="nom4"
                  placeholder="Nom"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="position-relative form-group">
            <label for="email4" class="">Address mail</label
            ><input
              name="adressMail"
              id="email4"
              type="email"
              class="form-control"
            />
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="societe4" class="">Socété</label
                ><input
                  name="societe"
                  id="societe4"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-2">
              <div class="position-relative form-group">
                <label for="credits" class="">Nombre de co souhaités</label
                ><input
                  name="credits"
                  id="credits"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <b-button class="mt-2 btn-pill" variant="primary">envoyer</b-button>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
    name: "accountReload"
}
</script>