<template>
  <div class="card p-4">
    <h2>Solder mes crédits</h2>
    <p>
      Sur cette page vous pouvez effectuer une demande pour convertir vos co en
      euros, lorssque vous les avez gagnés, notamment, en organisant un
      événement.
    </p>
    <p>
      Pour rappel, vos crédits sont valables 1 an. Ve ne pouvez pasa demander de
      remboursement sur des crédits périmés.
    </p>
    <ul>
        <li>Vous pouvez effectuer cette demande si vous possédez au moins <strong>30 co</strong> ;</li>
        <li>Une commission de <strong>20 %</strong> sera prélevée sur ce remboursement ;</li>
        <li>Vous allez recevoir un appel à facturation et vous devrez nous faire parvenir votre facture afin d'être payé.<strong>30 co</strong> ;</li>
    </ul>
    <p class="text-danger">Actuellement, vous ne disposez pas d'assez de crédits.</p>
  </div>
</template>
<script>
export default {
  name: "balanceCredits",
};
</script>