<template>
  <div class="main-card mb-3 card">
    <div class="card-body">
      <h5 class="card-title">Mes coordonnées</h5>
      <form class="">
        <div class="form-row">
          <div class="position-relative form-group col-md-6">
            <label for="firstName" class="">Prénom</label
            ><input
              name="prenom"
              id="firstName"
              placeholder="Prénom"
              type="text"
              class="form-control"
            />
          </div>
          <div class="position-relative form-group col-md-6">
            <label for="lastName" class="">Nom</label
            ><input
              name="Nom"
              id="lastName"
              placeholder="Nom"
              type="text"
              class="form-control"
            />
          </div>
        </div>
        <div class="position-relative form-group">
          <label for="adress" class="">Adresse postale</label
          ><textarea
            name="text"
            id="adress"
            class="form-control"
            placeholder="Adresse"
          ></textarea>
        </div>
        <div class="form-row">
          <div class="position-relative form-group col-md-2 mr-5">
            <label for="email" class="">Email</label
            ><input
              name="Nom"
              id="email"
              placeholder="Adresse mail"
              type="email"
              class="form-control"
            />
          </div>
          <div class="position-relative form-group col-md-2 mr-5">
            <label for="codePostal" class="">Code postal</label
            ><input
              name="Nom"
              id="codePostal"
              placeholder="CP"
              type="number"
              class="form-control"
            />
          </div>
          <div class="position-relative form-group col-md-2">
            <label for="city" class="">Ville</label
            ><input
              name="Nom"
              id="city"
              placeholder="Ville"
              type="text"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="position-relative form-group col-md-1 mr-5">
            <label for="country" class="">Pays</label
            ><select name="select" id="country" class="form-control">
              <option>France</option>
              <option>Suisse</option>
              <option>Belgique</option>
              <option>Luxembourg</option>
            </select>
          </div>
          <div class="position-relative form-group col-md-1">
            <label for="genderSelect" class="">Genre</label
            ><select name="select" id="genderSelect" class="form-control">
              <option>Homme</option>
              <option>Femme</option>
              <option>Organisation/Société</option>
            </select>
          </div>
          
        </div>
        <button class="mt-3 btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  name: "adress",
  
};
</script>